# Ignore all Dataset-Higgs-Twitter folders in any subdirectory
**/Dataset-Higgs-Twitter/

# Ignore all VTune result folders
vtune_*/
**/vtune_*/

# (Optional) Also ignore all .vtune files or results if they have a different pattern
*.vtune
*.rpt
*.p*
*.amplxe
*.idmap
*.part.4

# Ignore core dumps and executables
*.out
core
